*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
  font-family:arial sans-serif;
  list-style:none;
  text-decoration:none;
}
header{
  position:fixed;
  width:100%;
  top:0;
  right:0;
  z-index:1000;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:10px 10%;
}
.navmenu{
  display:flex;
}
.navmenu a{
  color:#2c2c2c;
  font-size:16px;
  text-transform:capitalize;
  padding:10px 20px;
  font-weight:400;
  transition:all .42s ease;
  cursor:pointer;
}
.navmenu a:hover{
  color:#EE1C47;
}
.nav-icon{
  display:flex;
  align-items:center;
}
.nav-icon i{
  margin-right:20px;
  color:#2c2c2c;
  font-size:25px;
  font-weight:400;
  transition: all .42s ease;
}
.nav-icon i:hover{
  transform:scale(1.1);
  color:#EE1C47;
}
#menu-icon{
  font-size:35px;
  color:#2c2c2c;
  z-index:1001;
  cursor:pointer;
}
section{
  padding:5% 10%;
}
.main-home{
  width:100%;
  height:100vh;
  background:url('bg.jpg');
  background-size:cover;
  background-position:center;
  display:grid;
  grid-template-columns:repeat(1, 1fr);
  align-items:center;
}
.main-text h5{
  color:#EE1C47;
  font-size:16px;
  text-transform:capitalize;
  font-weight:500;
  font-family:'Parkinsans';
}
.main-text h1{
  color:#fff;
  font-size:60px;
  font-weight:400;
  text-transform:capitalize;
  font-family:'Oswald';
  margin:6px 0 10px;
}
.main-text p{
  color:#fff;
  font-size:20px;
  font-style:italic;
  margin-bottom:20px;
}
.main-btn{
  display:inline-block;
  color:#111;
  font-size:16px;
  font-weight:500;
  text-transform:capitalize;
  border:2px solid #111;
  padding:12px 25px;
  transition:all.42s ease;
  cursor:pointer;
}
.main-btn:hover {
  background:#000;
  color:#fff;
}
.main-btn i{
  vertical-align:middle;
}
.down-arrow{
  position:absolute;
  top:85%;
  right:11%;
}
.down i{
  font-size:30px;
  color:#2c2c2c;
  border:2px solid #2c2c2c;
  border-radius:50px;
  padding:12px 12px;
}
.down i:hover{
  background:#2c2c2c;
  color:#fff;
  transition:all.42s ease;
}
header.sticky{
  background:#fff;
  padding:20px 10%;
  box-shadow:0px 0px 10px rgb(0 0 0 / 10%);
}
/*trending section css*/
.center-text h2{
  color:#111;
  font-size:28px;
  text-transform:capitalize;
  text-align:center;
  margin-bottom:30px;
}
.center-text span{
  color:#EE1C47;
}
.products{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(260px, auto));
  gap:2rem;
  overflow:hidden;
}
.row{
  position:relative;
  transition:all.42s;
}
.row img{
  width:100%;
  height:auto;
  transition:all.42s;
}
.row img:hover{
  transform:scale(0.9);
  box-shadow:0 0 30px #BE352A;
  transition:all 1sease;
}
.product-text h5{
  position:absolute;
  font-size:12px;
  top:13px;
  left:13px;
  color:#fff;
  font-weight:500;
  text-transform:uppercase;
  background:tomato;
  padding:3px 10px;
  border-radius:2px;
}
.heart-icon{
  position:absolute;
  right:0;
  font-size:20px;
}
.heart-icon:hover{
  color:#EE1C47;
}
.ratting i{
  color:#FF8C00;
  font-size:18px;
}
.price h4{
  color:#111;
  font-size:16px;
  text-transform:capitalize;
  font-weight:400;
}
.price p{
  color:#151515;
  font-size:14px;
  font-weight:600;
}
/*client reviews*/
.client-reviews{
  background:#F3F4F6;
}
.reviews{
  text-align:center;
}
.reviews h3{
  font-size:25px;
  color:#111;
  font-weight:700;
  text-align:center;
  text-transform:capitalize;
}
.reviews img{
  width:100px;
  height:100px;
  border-radius:50%;
  margin:10px 0;
}
.reviews p{
  font-size:16px;
  color:#707070;
  font-weight:400;
  line-height:25px;
  margin-bottom:10px;
}
.reviews h2{
  font-size:22px;
  color:#000;
  font-weight:400;
  text-transform:capitalize;
  margin-bottom:2px;
}
/*update section css*/
.up-center-text h2{
  text-align:center;
  color:#111;
  font-size:25px;
  text-transform:capitalize;
  font-weight:700;
  margin-bottom:30px;
}
.up-center-text span{
  color:#EE1C47;
}
.cart img{
  width:380px;
  height:auto;
  border-radius:5px;
}
.cart img:hover{
  transform:scale(0.9);
  box-shadow:0 0 30px #BE352A;
  border-radius:10px;
  transition:all.42s ease;
}
.update-cart{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(380px, auto));
  gap:1rem;
}
.cart h5{
  color:#636872;
  font-size:24px;
  text-transform:capitalize;
  font-weight:500;
}
.cart h4{
  color:#111;
  font-size:18px;
  font-weight:600;
}
.cart p{
  color:#707070;
  font-size:15px;
  max-width:380px;
  line-height:35px;
  margin-bottom:13px;
}
.cart h6{
  color:#151515;
  font-size:14px;
  font-weight:500;
}
/*contact-section*/
.contact{
  background:#f3f4f6;
}
.contact-info{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(160px,auto));
  gap:3rem;
}
.first-info img{
  width:50px;
  height:auto;
  border-radius:50%;
  box-shadow:0 0 10px lightblue;
}
.contact-info p{
  color:#707070;
  margin-bottom:5px;
}
.contact-info h4{
  font-weight:600;
  font-size:18px;
  margin-bottom:10px;
}
.social-icon.social-icon a{
  color:#000;
  font-size:20px;
}
@media (max-width:890px){
  header{
    padding:20px 3%;
    transition:.4s;
  }
}
@media (max-width:630px){
  .main-text h1{
    font-size:50px;
    transition:.4s;
  }
  .main-text p{
    font-size:18px;
    transition:.4s;
  }
  .main-btn {
    padding:10px 20px;
    transition:.4s;
  }
}
@media (max-width:750px){
  .navmenu{
    position:absolute;
    top:100%;
    right:-100%;
    width:300px;
    height:130vh;
    background:#fff;
    box-shadow:0 0 20px rgba(0, 0,0,200);
    border-radius:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:120px;
    transition:all.42s;
  }
  .navmenu a{
    display:block;
    margin:10px 0;
  }
  .navmenu.open{
    right:0;
  }
}
.footer{
  text-align:center;
  font-size:16px;
  font-weight:400;
  font-style:italic;
  text-transform:capitalize;
  background:#fff;
  padding:20px 10px;
}